.header {
    min-width: 20rem;
    height: 10rem;
    background-color: #c90813;
    color: white;
    margin: 0;
    padding: 0 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 37rem) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}