.header {
    min-width: 20rem;
    height: 10rem;
    background-color: #c90813;
    color: white;
    margin: 0;
    padding: 0 3.125rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}